  <div id='details' class='row'>

  <div>
    <img class='img-responsive' width="720px" height="400px" src='<%=dish[0].pic%>'>

      <h2><%=dish[0].name%></h2>
      <p><%=dish[0].description%></p>

      <div id='cart-btn' class='container'>
        <div class="form-group row">
          <button data-dish-id="<%=dish[0].id%>" class="btn btn-info col-xs-12 col-sm-3 col-md-6 pull-left add-to-cart" type="button">Add to cart</button>



           <div class="input-group col-sm-5 col-sm-offset-1 pull-left">
             <label class="sr-only" for="qty">Quantity</label>
             <div class="input-group-addon">Quantity</div>
             <input type="number" value=1 min=1 max=1000 class="form-control" id="qty" placeholder="#">
             <b class='input-group-addon'>$<%=dish[0].price%></b>
           </div>
        </div>
      </div>
   </div>
   </div>
