
<h2> Menu </h2>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Top 3 Bestsellers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

      <div class="panel-body">
          <% for (x in dishes){
              if(dishes[x].type==='main' && x<=2){
             %>
            <div class='row dish'>
              <h4 class="foodItemTitle pull-left col-xs-7"><%= dishes[x].name %></h4>
              <h4 class="price pull-right col-xs-5">$<%= dishes[x].price %></h4>
            </div>
            <hr>
          <%}}%>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Burgers
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <% for (x in dishes){
            if(dishes[x].type==='main'){
        %>
           <div class='row dish'>
             <h4 class="foodItemTitle pull-left col-xs-7"><%= dishes[x].name %></h4>
             <h4 class="price pull-right col-xs-5">$<%= dishes[x].price %></h4>
           </div>
           <hr>
          <%}}%>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Sides
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <% for (x in dishes){
            if(dishes[x].type==='sides'){
        %>
           <div class='row dish'>
             <h4 class="foodItemTitle pull-left col-xs-7"><%= dishes[x].name %></h4>
             <h4 class="price pull-right col-xs-5">$<%= dishes[x].price %></h4>
           </div>
           <hr>
          <%}}%>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Drinks
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
          <% for (x in dishes){
              if(dishes[x].type==='drinks'){
          %>
         <div class='row dish'>
           <h4 class="foodItemTitle pull-left col-xs-7"><%= dishes[x].name %></h4>
           <h4 class="price pull-right col-xs-5">$<%= dishes[x].price %></h4>
         </div>
         <hr>
        <%}}%>
      </div>
    </div>
  </div>
</div>
